:root {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header {
    background-color: #f7cdf3;
    padding: 10px;
    border-radius: 15px;
}
nav{
    color:white
    text-decoration none
    }
a:hover {
    color: rgb(0, 67, 250);
}
h1 {
    color: #333333;
    text-align: center;
}
ul {
    list-style-type: none;          
}
#contenido {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
#contenido h2 {
    color: rgb(139, 181, 235);
    padding: 10px;
}
#contenido p {
    font-size: 16px;
    color: rgb(156, 214, 156);
}      
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

}               
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}    


